//layout
.header{
    h1{
        a{
            width: 128px;
            height: 38px;
            background-image: url(../img/layout/logo.png);
            display: block;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    ul{
        a{
            color: #8D8D8D;
        }
    }
}
.cartnum{
    top: 15px;
    right: 80px;
    font-size: 12px;
    color: white;
}
.subscribe{
    background-image: url(../img/layout/subscribe.png);
    height: 600px;
}
.subscribeInfo{
    margin-bottom: 112px;
}

//index

.banner{
  //  background-image: url(../img/index/indexbg.png);
    height: 870px;
}
.radius{
    border-radius: 30px;
}

.soldout{
    position: absolute;
    background-image: url(../img/index/soldout.svg);
    width: 100%;
    height: 100%;
    top: 0px;
}

//other

.page {
    a{
        color: black;
    }
    a:hover{
        color: #916000;
    }
}
.brandlist a{
    color: white;
}
.card{
    border: none;
    background-color:transparent;
}
.card-body{
    padding: 0;
}
.discount{
    text-decoration: line-through;
}
.product_btn{
    background-color: #fff;
    border: none;
    padding: 0;
}

@media(max-width: 414px){

    .card-title{font-size: 20px;}
    .subscribe{
        background-image: url(../img/layout/subscribe_mob.png);
    }
}  
